@import "./colorCode.scss";

header {
  a {
    text-decoration: none;
  }
}

header, footer {
  a {
    color: inherit;
  }
}

footer {
  margin: 4rem 0 2rem;
}

.app {
  text-align: center;

  &Header {
    color: $pink;
    font-weight: bold;
    font-size: 4rem;
  }
  &Link {
    color: inherit;
    text-decoration: none;
    &:hover {
      div {
        background-color: $pink;
      }
    }
  }

  &Description {
    margin-bottom: 6rem;
  }

  &Mystery {
    margin: 0 auto;
    width: 40%;
    border: 2px solid $black;
    border-radius: 5px;
    &Logo {
      color: transparent;
      position: relative;
      &::before {
        background-image: url(../images/mystery-logo320x320.png);
        background-size: 1.5rem 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        background-position: 0 0;
        margin-top: 0.4rem;
        background-repeat: none;
        display: inline-block;
        position: absolute;
        content: '';
      }
    }
  }
}
