@import "./colorCode.scss";

header {
  a {
    text-decoration: none;
  }
  h1 {
    display: inline-block;
    color: $pink;
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
  }
  @media screen and (max-width: 620px) {
    h1 {
      font-size: 3rem;
    }
  }
  @media screen and (max-width: 470px) {
    h1 {
      font-size: 2rem;
    }
  }
}

header, footer {
  a {
    color: inherit;
  }
}

footer {
  margin: 2rem 0;
}

section {
  margin: 0 0 4rem;
}

.index {
  margin: 1rem;
  text-align: center;
  &Logo {
    &Small {
      display: none;
    }
    &Large {
      display: inline-block;
    }
  }

  @media screen and (max-width: 620px) {
    &Logo {
      &Small {
        display: inline-block;
        max-width: 280px;
      }
      &Large {
        display: none;
      }
    }
  }

  &Link {
    color: inherit;
    text-decoration: none;
    &:hover {
      div {
        background-color: $hover-pink;
      }
    }
  }
}
